.about-container {
  padding: 1rem;
  background-color: #000000;
  /* filter: blur(8px); */
  box-shadow: 0px 30px 60px 35px #000000;
}

.about {
  display: flex;
  align-content: center;
  justify-content: center;
}

.about-text {
  text-align: left;
  width: 45%;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 0px;
  border: 1px solid #30363d;
  background-color: #0e1216;
  padding: 2rem;
  color: rgb(229, 229, 229);
  border-radius: 15px;

}

.social-icons{
  text-align: center;
}


.profile-img{
  width: 25%; 
  float: right; 
  margin-left: 1%;
  /* border: rgb(255, 255, 255) 8px solid; */
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.05); */
  /* border-radius: 50%; */
}

.divider-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 30px;
}

h1:hover{
  color: grey;
}

i {
  font-size: 20px;
  color: white;
  padding: 4rem;
}

i:hover{
  color: var(--color7)
}

/* for medium sized screens */
@media screen and (max-width: 1024px) {
  i {
    font-size: 10px;
  }
  h1{
    font-size: 30px;
  }
  .about-text {
    font-size: 1rem;
  }
}

/* for mobile screens */
@media screen and (max-width: 414px) {
  .about-container {
    padding: 2rem;
  }
  
  h1{
    font-size: 22px;
  }
  .about-text {
    width: 65%;
    font-size: 0.8rem;
  }
  .profile-img{
   width:40%;
  }
  
}
