.footer-container{
    text-align: center;
    padding: 1rem;
    background-color: var(--color8);
    color: white;
    font-size: 20px;
}


@media screen and (max-width: 1024px) {
    .footer-container {
      font-size: 18px;
    }
  }
  