.home-container {
  height: 100vh;
}

.home-sub-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.home {
  position: relative;
  background-color: rgba(56, 91, 71, 0.25);
  top: -615px;
  z-index: 1;
  border-radius: 15px;
  width: 30%;
}

.home-text {
  margin: auto;
  text-align: center;
  font-size: 4rem;
  font-family: 'Libre Barcode 128 Text', cursive;
  padding: 3rem;
  color: rgb(225, 224, 224);
  letter-spacing: 1px;
}

.learn-more-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.learn-more {
  position: relative;
  background-color: rgba(56, 91, 71, 0.7);
  top: -590px;
  z-index: 1;
  border-radius: 10px;
  width: 10%;
}

.learn-more-text {
  margin: auto;
  text-align: center;
  font-size: 16px;
  padding: 0.5rem;
  color: rgb(225, 224, 224);
  letter-spacing: 1.5px;
}

.home-image {
  display: flex;
  justify-content: flex-end;
}

.accessory1 {
  position: relative;
  top: -850px;
  right: -10%;
  z-index: 1;
  transform: rotate(90deg);
}

.accessory2 {
  position: relative;
  top: 960px;
  left: 75%;
  z-index: 1;
}

.accessory3 {
  position: relative;
  top: 580px;
  right: -1150px;
  z-index: 1;
}

span {
  color: var(--color10);
}

.computer-img {
  width: 100%;
}

/* for medium sized screens */
@media screen and (max-width: 1024px) {
  .home-container {
    height: 100vh;
  }

  .home {
    padding: 3rem;
  }

  .computer-img {
    width: 50%;
  }

  .home-text {
    font-size: 2.5rem;
    padding: 0rem;
  }

  i {
    font-size: 10px;
  }
}

/* for mobile screens */
@media screen and (max-width: 414px) {
  .home {
    border-radius: 15px;
    width: 60%;
    top: -580px;
  }
}
