.home-container {
  background-color: var(--color2);
  background-image: url('/public/img/icons.png');
  color: white;
  height: 100vh;
}

.home {
  display: flex;
  padding: 13rem;
  justify-content: space-evenly;
}

.home-text {
  margin: auto;
  margin-top: 2rem;
  text-align: left;
  font-size: 3.5rem;
  /* font-family: 'Rozha One', serif; */
  letter-spacing: 3px;
  padding: 4rem;
  background-color: var(--color2);
  /* border: #878787 8px dotted; */
  /* border-radius: 30px; */
  border-radius: 50% 20% / 10% 40%;
}

.accessory1 {
  position: absolute;
  top: 850px;
  right: 1600px;
  z-index: 1;
}

.accessory2 {
  position: absolute;
  top: 870px;
  right: 100px;
  z-index: 1;
}

.accessory3 {
  position: absolute;
  top: 580px;
  right: 610px;
  z-index: 1;
}

i {
  font-size: 26px;
  color: var(--color1);
  padding: 4rem;
  /* text-shadow: 2px 2px rgb(203, 203, 203); */
}

span {
  color: var(--color9);
}
