@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Serif+Display&family=Merriweather&display=swap');:root{
  --background-color: white;
  --color1: #f0f7ee;
  --color2: #bacde8;
  --color3: #7ddcd7;
  --color4: #91a8a4; 
  --color5: #776871;
  --color6: #d5d5d5;
  --color7: #acadbc;
  --color8: #000500;
  --color9: #297f9a;
  --color10: #f26e08;
}


body {
  margin: 0;
  font-family: 'DM Serif Display';
  background-color: var(--background-color);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
