@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Text&family=Rubik&family=Source+Code+Pro:wght@600&family=Space+Mono&family=Ubuntu:wght@400;500&display=swap');
:root{
  --background-color: rgb(246, 246, 246);
  --color1: #f0f7ee;
  --color2: #41228e;
  --color3: #36197f;
  --color4: #91a8a4; 
  --color5: #776871;
  --color6: #d5d5d5;
  --color7: #27555c;
  --color8: #000;
  --color9: #1a8cbe;
  --color10: #44b295;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background-color);
    scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

/* a:hover { */
  /* text-decoration:none;  */
  /* cursor:pointer;   */
/* } */

h1 {
  text-decoration: var(--color10);
  /* text-decoration: underline; */
  letter-spacing: 1px;
  font-weight: 500;
}

h1:before,
h1:after {
  background-color: var(--color10);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 15%;
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
}