@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Serif+Display&family=Fira+Code:wght@500&family=Libre+Barcode+128+Text&family=Merriweather&family=Press+Start+2P&family=Rozha+One&family=Rubik&family=Source+Code+Pro:wght@600&family=Space+Mono&display=swap');

:root{
  --background-color: white;
  --color1: #f0f7ee;
  --color2: #41228e;
  --color3: #36197f;
  --color4: #91a8a4; 
  --color5: #776871;
  --color6: #d5d5d5;
  --color7: #acadbc;
  --color8: #000;
  --color9: #1a8cbe;
  --color10: #15bc8f;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Fira Code', monospace;
    background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: white;
}

/* a:hover { */
  /* text-decoration:none;  */
  /* cursor:pointer;   */
/* } */

