.navbar-container {
  padding: 35px 115px;
  transition: 0.3s ease;
  background-color: var(--color2);
  color: white;
  font-family: 'DM Serif Display';
  font-size: 34px;
}

.navbar-inner-container {
  display: flex;
  flex-direction: row;
}

.navbar-sitename{
    display: flex;
    align-items: flex-end;
    font-size: 60px;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 800;
}

.navbar-ul {
  margin-left: auto;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
li{
  letter-spacing: 2px;
  padding: 0.5rem;
}

li:hover{
  color: var(--color5)
}