.navbar-container {
  border: red 1px solid;
  padding: 40px 115px;
  transition: 0.3s ease;
}

.navbar-inner-container {
  display: flex;
  flex-direction: row;
}

.navbar-sitename{
    display: flex;
    align-items: flex-end;
}

.navbar-ul {
  margin-left: auto;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
