.navbar-container {
  padding: 0px 35px 0px 20px;
  transition: 0.3s ease;
  background-color: var(--color8);
  color: white;
  font-size: 18px;
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-inner-container {
  display: flex;
  flex-direction: row;
}

.navbar-sitename{
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 4px;
    font-family: 'Libre Barcode 128 Text', cursive;
    padding: 0.6rem;
}

.navbar-ul {
  margin-left: auto;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li{
  letter-spacing: 3.5px;
  padding: 0.6rem;
  /* font-weight: 500; */
  
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover{
  color: var(--color10);
  cursor:pointer;  
}

/* for medium sized screens */
@media screen and (max-width: 1024px) {
  .navbar-sitename {
    font-size: 1.2rem;
  }
  .navbar-container{
    font-size: 18px;
  }

}

/* for mobile screens */
@media screen and (max-width: 414px) {
  .navbar-container {
    padding: 0px 10px 0px 10px;
    font-size: 10px;
    position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
  }
  
}
