.skills-container {
  text-align: center;
  background-image: url('/public/img/education-bg.png');
  background-size: 2000px;
  background-position: 0% 10.6%;
  letter-spacing: 1px;
}

.skills-img-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.skill-icon {
  width: 4%;
  /* padding-left: 2rem;
  padding-right: 2rem; */
  padding: 0.5rem;
}

.skills-title {
  font-size: 30px;
  margin-top: 0px;
}

.skills-subtitle {
  font-size: 30px;
}

.skills-name {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-right: 10px;
  padding: 0.25rem 0.9rem;
  background-color: rgb(238, 238, 238);
  border-radius: 0.25rem;
  font-size: 1.5rem;
}

.skills-name:hover {
  background-color: var(--color2);
  color: var(--white-color);
}

@media screen and (max-width: 1024px) {
.skills-container {
  text-align: center;
  background-size: 2000px;
  background-position:50% 11.5%;
}
  .skills-title {
    font-size: 30px;
  }
  .skills-subtitle {
    font-size: 20px;
  }
  .skill-icon {
    width: 5%;
  }
}

@media screen and (max-width: 414px) {
  .skills-title {
    font-size: 22px;
  }
  .skills-img-container {
    padding: 0.7rem;
  }
  .skill-icon {
    width: 7%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

