.skills-container{
    text-align: center;
    background-image: url("/public/img/education-bg.png");
    background-size: 1900px 1200px;
}


.ul{
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
}
