.skills-container{
    text-align: center;
    background-image: url("/public/img/education-bg.png");
    background-size: 2500px 1200px;
    letter-spacing: 1px;
}

.skills-title{
    font-size: 60px;
}

.skills-name {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-right: 10px;
    padding: 0.25rem 0.9rem;
    background-color: rgb(238, 238, 238);
    border-radius: 0.25rem;
    font-size: 1.5rem;
  }

.skills-name:hover {
    background-color: var(--color2);
    color: var(--white-color);
  }